/* Global / desktop view */

.container {
  background-color: rgb(43, 226, 147);
  min-height: 500px;
  min-width: 1024px;
  margin: 0 auto;
}

/* for tablet view*/
@media (max-width: 768px) {
}

/* for mobile view. The size is choice of mobile*/
@media (max-width: 360px) {
}
