/* Global / desktop view */

h1 {
  color: limegreen;
}

/* for tablet view*/
@media (max-width: 768px) {
  h1 {
    color: orange;
  }
}

/* for mobile view. The size is choice of mobile*/
@media (max-width: 360px) {
  h1 {
    color: rebeccapurple;
  }
}
